<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/assets/images/logoburger.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
        Eat-Da-Burger
    </a>
</nav>


<div class="container">
    <div class="row mb-3 justify-content-center">
        <div class=" col-12" align="center">
            <h1 style="font-family: 'Rock Salt', cursive;">Welcome to Eat-Da-Burger!</h1>
            <img src="/assets/images/burgerimage.png" alt="Eat-Da-Burger" height="150vh">
        </div>
    </div>
    <div class="row justify-content-between mb-3">
        <div class="col-lg-6 col-12">
            <div class="card border-secondary bg-light" style="width: 100%; height:100%;font-family: 'DM Serif Text', serif;">
                <div class="card-header">
                    <h2 align="center" >Burgers to Eat</h2>
                </div>
                <ul class="list-group list-group-flush" align="center">
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li class="list-group-item">
                        {{burger_name}}

                        <button class="devour-burger btn btn-success" style="font-family: 'Bangers', cursive;"
                            data-id="{{id}}">
                            DEVOUR!!!
                        </button>

                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="card border-secondary bg-light" style="width: 100%;height:100%;font-family: 'DM Serif Text', serif;">
                <div class="card-header">
                    <h2 align="center">Burgers You've Eaten</h2>
                </div>

                <ul class="list-group list-group-flush" align="center">
                    {{#each burgers}}
                    {{#if devoured}}
                    <li class="list-group-item">
                        {{burger_name}}
                        <button class="delete-burger btn btn-danger" style="font-family: 'Bangers', cursive;"
                            data-id="{{id}}">
                            HIDE THE EVIDENCE!
                        </button>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12" align="center" style="font-family: 'DM Serif Text', serif;">
            <h2>Add a Burger</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="addBurger">Buger Type:</label>
                    <input type="text" id="addBurger" name="name">
                </div>


                <button type="submit" class="btn btn-primary">Add Burger</button>
            </form>
        </div>
    </div>
</div>